
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root
{
   --background-color:rgb(0,0,0);
   --background-color-hover:rgb(201,201,201);
}
*{  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.col_3
{
    width: cacl(100%/3);
}
.col_haft
{
    width: 50%;
}
.col{
    width: 100vw;
    margin-left: -8px;
    margin-right:-8px;
    padding: 0 8px;
}

#header
{
    position: fixed;
    z-index: 100;
    height: 46px;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.nav-header
{
    display: flex;
    
}

.nav-header li
{
    position: relative;
    list-style: none;
    display: block;
    
}
.nav-header > li > .nav__header-content
{
    text-decoration: none;
    color:white;
    font-family: 'Poppins',sans-serif;
    display: block;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: linear 0.5s;
    padding: 0px 20px;
    vertical-align: middle;

}
.sub__header-nav
{
    position: absolute;
    left: 0;
    display: block;
    box-shadow: 1px 2px 3px 4px rgba(22, 20, 20, 0.089); 
    overflow-y: hidden;
    height: 0;
    
}
.sub__header-nav li .sub__element_header-nav
{
    display: block !important;
    text-decoration: none;
    color:#000;
    font-family: 'Poppins',sans-serif;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    transition: linear 0.5s;

}
.sub__header-nav li:hover .sub__element_header-nav
{
    background-color: var(--background-color-hover);
}
.nav-header  li:hover  .nav__header-content
{
    background: var(--background-color-hover);
    color: rgb(0,0,0);
    background-clip: padding-box;
}
.nav-header  li:hover >.sub__header-nav{
    height: 135px;
    animation: InfadeHeight linear 0.15s;
}
@keyframes InfadeHeight
{
    0%
    {
        height: 0;
    }
    33%
    {
        height: 50%;
    }
    66%
    {
        height: 100%;
    }
}

.search-btn .fa
{
   color: white;
   font-size: 20xp;
   line-height: 46px;
   display: block;
   width: 46px;
   text-align: center;
}
.search-btn .fa:hover
{
    background:red;
    transition: linear 0.5s;
}
.search-input
{
    position: absolute;
    height: 36px;
    width: 300px;
    margin-top: 46px;
    margin-right: 15px;
    right: 0;
    border: 2px solid rgb(12, 11, 11);
    display: none;
    transition: linear .25s;
    z-index: 4;
    -webkit-backdrop-filter: blur(20px);
     
}
.search-input::-webkit-input-placeholder
{
    content: "";
    font-size: 15px;
    margin-left: 10px;
    position: absolute;
    line-height: 32px;
    
}
.search-input.active
{
    display: block;
}
.Input{
    position: fixed;
    top: 0;
    left:0;
    display: none;
    z-index:3;
}
.Input.active
{
    display: block !important;
    width: 100%;
    height: 100vh !important;
}
.input-header
{  position: absolute;
  width: 100%;
  text-align: center;
}
.search-input:focus-visible
{
   outline: none;
}
/**/
/*slider*/
#slider
{   
    margin-top:46px ;
    width: 100%;
    height: 93vh;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
    
}
#slider .sliders
{
    width: 300%;
    height: 100%;
    display: flex;
}
#slider .sliders .slide
{ width: 33.3333333%;
  height: 93vh;
  background-size: 100% 100% !important;
  position: relative;
 background-position:center;
  background-repeat: no-repeat;

}
#slider .sliders .slide:nth-child(1)
{
    background: url(../image/ny.jpg) ;
}
#slider .sliders .slide:nth-child(2)
{
    background: url(../image/chicago.jpg)  ;
}
#slider .sliders .slide:nth-child(3)
{
    background: url(../image/la.jpg) ;
}
.text-slide
{
   
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 50px;
    font-family: 'Poppins';
}
.text-slide >h3{
    margin-bottom: 20px;
    font-size: 40px;
    
}
#first-slide
{
    margin-left: 0%;
   transition: linear 0.5s;
}

#about
{
   
    padding: 50px 10px;
    text-align: center;
   
    z-index: -1;
}
.heading
{
    font-family: 'Poppins',sans-serif;
}
.heading h1
{
    font-weight: 400;
    margin: 10px auto;
}
.heading p
{
    margin-bottom: 10px;
   opacity: 0.5;
}
#about .content
{
    width: 740px;
    margin: auto;
    text-align: justify;
    margin-bottom: 15px;
}
.third
{   position: relative;
    padding: 50px 0px;
    display: flex;
    width: 740px;
    margin: 0 auto;
    z-index: -10;
    justify-content: space-around;
}
.third p
{
    padding: 20px;
}
.third .member
{
    width: 190px;
    margin: auto;
}
.third .member>img
{
   width: 100%;
   
}

